<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- notification permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_NOTIFICATION_BADGE" />
    <!-- Allow app to receive the BOOT_COMPLETED broadcast -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Allow app to start a foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        android:enabled="true"
        android:exported="false" />
    <!-- Allow app to know the power mode change -->
    <uses-permission android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- Allow app to wake the phone and open app -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Allow app to set alarm -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- Allow app to use alarm -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <!-- Allow app to ignore battery optimization -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- Allow app to access all file -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".ExperienceSampleApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/messages_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExperienceSampleApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExperienceSampleApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MainService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/messages_icon" />

    </application>

</manifest>